@model List<SubjectVM>

<a asp-controller="Home" asp-action="index" class="btn btn-primary">
    <i class="fas fa-caret-square-left"></i>
    Back to Home
</a>
<a asp-controller="Subject" asp-action="Add" class="btn btn-primary">
    <i class="fas fa-plus"></i>
    Create New Subject
</a>
<br />
<br />

@if (Model.Count() < 1)
{
    <div class="alert alert-info">
        No Subjects Records Found
    </div>
}
else
{
    <table id="SubjectTable" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>I.D.</th>
                <th>Code</th>
                <th>Discription</th>
                <th>Units</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Code</td>
                    <td>@item.Discription</td>
                    <td>@item.Units</td>
                    <td>
                        <a asp-controller="Subject" asp-action="Edit" asp-route-id="@item.Id"
                           class="btn btn-info btn-sm">
                            <i class="fas fa-edit"></i>
                            Edit
                        </a>
                        <button class="btn btn-danger btn-sm deleteBtn" data-id="@item.Id">
                            <i class="fas fa-trash"></i>
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<form id="DeleteForm" asp-controller="Subject" asp-action="Delete" mothod="post">
    <input type="hidden" id="HiddenSubjectId" name="Id" value="" />
</form>

@section Scripts {
    <script>
        let table = new DataTable('#SubjectTable');
        $('.deleteBtn').click(function (e) {
            swal({
                title: "Are you sure?",
                text: "Are you sure you want to DELETE this record?",
                icon: "warning",
                buttons: true,
                dangerMode: true
            }).then((confirm) => {
                if (confirm) {
                    var btn = $(this);
                    var id = btn.data("id");
                    $("#HiddenSubjectId").val(id);
                    $("#DeleteForm").submit();
                }
            });
        });
    </script>
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
